.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.1;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  top: 0px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 10px;
  margin-bottom: 20px;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}

.sidebar__tweet:hover {
  background-color: rgb(39, 109, 240) !important;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    flex: 0.01 !important;
    width: 10px !important;
    min-width: 10px !important;
    margin-left: -20px !important;
    border-right: none;
  }
  .sidebar__tweet {
    display: none;
  }
  .sidebar_BtnContainer {
    display: none;
  }
}
