.store {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(234, 237, 237);
}

.store__wrapper {
  background-color: rgb(234, 234, 234);
  width: 100%;
}
.store__banner {
  width: 100%;
  z-index: -1;
}

.store__products {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.store__row {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .store__row {
    width: 100%;
    margin-bottom: 100px;
    z-index: 1;
    flex-direction: column;
  }
}
